{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="container auth-container">
  <div class="card auth-card">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3 class="text-black">{% trans "Registration Form" %}</h3>
        <p class="text-black">{% blocktrans %}Welcome to Apple-gate Property Services LTD. Do you already have an account? If so, then please <a href="{{ login_url }}">Sign in</a> instead.{% endblocktrans %}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="id_username" class="sr-only">Username</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autocomplete="username" minlength="1" maxlength="50">
          </div>
          
          <div class="form-group">
            <label for="id_email" class="sr-only">Email</label>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="E-mail (optional)" autocomplete="email">
          </div>
          
          <div class="form-group mb-4 position-relative">
            <label for="id_password1" class="sr-only">Password</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password" required autocomplete="new-password">
            <!-- Eye icon to toggle visibility -->
            <i class="fa fa-eye toggle-password" data-target="id_password1"></i>
          </div>
          
          <div class="form-group mb-4 position-relative">
            <label for="id_password2" class="sr-only">Confirm Password</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Password (again)" required>
            <!-- Eye icon for confirmation field -->
            <i class="fa fa-eye toggle-password" data-target="id_password2"></i>
          </div>
          
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          <button class="btn btn-block btn-form mb-4" type="submit">{% trans "Register" %}</button>
        </form>
        
        {% if form.errors %}
        <p class="auth-error-msg">Registration details are not valid - please try again</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
