body {
    background-color: #3C5F43;
    max-width: 125rem;
    margin: 0 auto;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}
.brand {
    /* font-family: "Josefin Sans", sans-serif; */
    font-size: 1.4rem;
    font-weight: 700;
    color: #062c19;
    transition: ease .40s;
}


.navbar-brand .brand:hover{
    background: #4A7A56;
    color: #041d17;
    box-shadow: 8px 8px  rgb(90 185 185 / 40%);
    border-radius: 70px;
    transform: scale(1.2);
}


.jumbotron {
    background-image: url("django-summernote/2024-09-19/heroImage.png");
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 25%;
    max-height: 100%;
}


.welcome-text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem 0.5rem;
    background-color: rgba(7, 148, 99, 0.811);
    margin: 0 10%;
}

#hero-image {
    position: relative;
    width: 100%; /* Make the image take the full width of the page */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Ensure the image covers the entire container */
    filter: brightness(50%); /* Dim the image */
}

#hero-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a dark overlay */
    z-index: 1;
}

.text-black {
    color: black;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #3C5F43;
}

.card-text {
    color: #3C5F43;
    font-size: 1.5rem;
    line-height: 1.5;
}
.card-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #3C5F43;
}

.btn-signup {
    background-color: #3C5F43;
    color: #fff;
    border: 2px solid #2E4A35; /* Add a border */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.btn-signup:hover {
    background-color: #4A7A56; /* Change background color on hover */
    border-color: #4A7A56; /* Change border color on hover */
    color: #fff; /* Ensure text color stays white */
}

.btn-block {
    background-color: #3C5F43;
    color: #fff;
    border: 2px solid #2E4A35; /* Add a border */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; 
}

.btn-block:hover{
    background-color: #4A7A56; /* Change background color on hover */
    border-color: #4A7A56; /* Change border color on hover */
    color: #fff; /* Ensure text color stays white */
}


.footer-bg {
    color: #fff;
}

.fab {
    background-color: #3C5F43;
    color: #fff;
    border: 2px solid #2E4A35; /* Add a border */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.fab:hover{
    background-color: #4A7A56; /* Change background color on hover */
    border-color: #4A7A56; /* Change border color on hover */
    color: #fff; /* Ensure text color stays white */
}