{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <!-- Service Details Section -->
    <div class="row mt-4">
        <div class="col-md-6">
            <!-- Display the Service Image -->
            <div class="image-container">
                {% if service.featured_image %}
                    <img class="img-fluid" src="{{ service.featured_image.url }}" alt="{{ service.name }}">
                {% else %}
                    <img class="img-fluid" src="https://res.cloudinary.com/dtqyltolm/image/upload/v1726735911/u1sctynhrcnz4193lrhg.png" alt="Default service image">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <!-- Service Information -->
            <h2>{{ service.name }}</h2>
            <p>{{ service.description }}</p>
            <h5>Price from: £{{ service.price }}</h5>
        </div>
    </div>

    <!-- Booking Form Section -->
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h3>Book this service</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <!-- Submit Button -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Confirm Booking</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
