{% extends 'services/base.html' %}

{% block content %}
    <section class="hero">
        <img src="{% static 'documentation/images/hero.webp' %}" alt="Hero Image">
        <h1>Welcome to Apple-gate Property Services LTD</h1>
    </section>
    
    <section class="services-grid">
        {% for service in services %}
            <div class="service">
                <h2>{{ service.name }}</h2>
                <p>Price: £{{ service.price }}</p>
                <a href="{% url 'service_detail' service.pk %}">View Details</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
