{% extends 'base.html' %}
{% block body_class %}{}{% endblock %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <!-- Hero Section -->
    <div class="jumbotron jumbotron-img text-center" style="background-image: url('https://res.cloudinary.com/dtqyltolm/image/upload/v1727095474/heroImage_x2y8vk.png'); background-size: cover; height: 60vh; display: flex; align-items: center; justify-content: center; color: white;">
        <div class="welcome-text">
            <h1>Welcome to Apple-gate Property Services LTD</h1>
            <h4>Don't hesitate to book a service for your household handyman needs</h4>
            <p class="quote-text">Where your home meets quality and care</p>
            <!-- <img class="card-img-top" id="hero-image" src="{% static 'images/heroImage.png' %}"> -->
        </div>
        
            
        
    </div>

    <!-- Services Section -->
    <div class="row mt-4">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <!-- Display the Service Image (Cloudinary) -->
                <div class="image-container">
                    {% if service.featured_image %}
                        <img class="card-img-top" src="{{ service.featured_image.url }}" alt="{{ service.name }}">
                    {% else %}
                    <!-- https://res.cloudinary.com/dtqyltolm/image/upload/v1726735911/u1sctynhrcnz4193lrhg.png -->
                        <img class="card-img-top" src="https://res.cloudinary.com/dtqyltolm/image/upload/v1726735911/u1sctynhrcnz4193lrhg.png" alt="Default service image">
                    {% endif %}
                </div>

                <!-- Service Information -->
                <div class="card-body text-center">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <h6 class="card-price">Price from £{{ service.price }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
